body{
    font-family: 'Mulish', sans-serif;
}
h2{
    letter-spacing: .01em;
    font-size: 50px;
}
h3{
    letter-spacing: .02em;
    font-size: 32px;
}
h4{
    font-size: 25px;
    letter-spacing: .01em;
    text-align: center;
}
p{
    font-weight: 200;
    font-size: 20px;
}
ul{
    font-weight: 200;
    font-size: 20px;
    margin-left: 20px;
}
h5{
    font-size: 18px;
}
h6{
    font-weight: 200;
    font-size: 15px;
}
.cel-flex{
    padding: 0 0 50px 0;
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}
.columna-de2{
    width: 50%;
    box-sizing: border-box;
}
.columna-de3{
    width: 33%;
    box-sizing: border-box;
}
.titulo{
    text-align: center;
    margin-top: 50px;
}
.subtitulo{
    text-align: center;
}
.p-centro{
    padding: 0 50px;
    text-align: justify;
}
.subtitulo sup{
    color: #0077B6;
    vertical-align: middle;
}
.gris{
    color: #6c757d;
}
.blanco{
    color: #fff;
}
.im{
    height: 150px;
    display: block;
    margin: auto;
}
.fondo{
    background: #00c2cb;
}
.fondo2{
    background: #0077B6;
}
.pad-top{
    padding-top: 20px;
}
.marg-btm{
    margin-bottom: 50px;
}
.marg-btm-cero{
    margin-bottom: 0;
}
.marg-top{
    margin-top: 70px;
}
.marg-vert{
    margin: 30px 0 70px 0;
}

#logo{
    height: 50px;
    padding: 0 10px;
}
#lin-az{
    width: 500px;
    height: 13px;
    display: block;
    margin: auto;
    padding-bottom: 10px;
}

@media (max-width: 975px) {
    .columna-de3{
        width: 100%;
        margin-bottom: 10px;
    }
    .marg-btm2{
        margin-bottom: 25px;
    }
}