html{
    font-family: "Muli", sans-serif;
    font-weight:400;
    font-size:calc(16px + 0.5vw);
    color:#6c757d;
    overflow-x:hidden;
}

body{
    overflow-x:hidden;

}

iframe{
    top:0;
    left:0;
    position:fixed;
    border:none;
    height:30vh;
    width:100vw;
}



.curtain{
    transition:0.7s;
    display:none;
    position:fixed;
    min-width:42vw;
    min-height:100vh;
    top:8.5vh;
    left:0;
}


.content{
    margin-top:15vh;
    margin-right:0;
    transition: 0.7s, font-size 0s ;
}

.content + section{
    margin-top:0vh; !important
}



/*
h2{
    letter-spacing: .01em;
    font-size: 33px;
}
h3{
    letter-spacing: .02em;
    font-size: 38px;
}
h4{
    font-size: 25px;
    letter-spacing: .01em;
    text-align: center;
}
p{
    font-weight: 200;
    font-size: 18px;
}
ul{
    font-weight: 200;
    font-size: 18px;
    margin-left: 20px;
}
h5{
    font-size: 13px;
}
h6{
    font-weight: 200;
    font-size: 10px;
}

 */
.comp-header-1{
    color: #6C757D;
    display:inline-block; !important
    margin:0;
    padding:0;
    line-height:50%;
}

.comp-header-2{
    color: #00C2CB;
    display:inline-block; !important
    line-height:50%;
    margin:0;
    padding:0;
}

.comp-header-container{
    display:inline-block;
    padding: 0vh 8vw 0vh 8vw;
    margin: 1vh 10vw 1vh 10vw;
    border-bottom: solid #0077B6 5px;
}

@media only screen and (max-width:900px){
    .content{
        margin-top: 25vh;
    }

}