html{
    font-family: "Muli", sans-serif;
    font-weight:400;
    font-size:calc(16px + 0.5vw);
    color:#6c757d;
    overflow-x:hidden;
}


body{
    overflow-x:hidden;

}

nav{
    position:fixed;
    border:none;
    box-sizing:border-box;
    max-height: 5vw;
    width:100vw;
}



.curtain{
    transition:0.7s;
    display:none;
    position:fixed;
    min-width:42vw;
    min-height:100vh;
    top:8.5vh;
    left:0;
}


.content{
    margin-top:15vh;
    margin-right:0;
    transition: 0.7s, font-size 0s ;
}

.content + section{
    margin-top:0vh; !important
}

footer{
    display: flex;
    flex-flow: column nowrap;
    width:100%;
}

#copyright{
    justify-self:flex-start;
    box-sizing: border-box;
    align-self: end;
    font-size: calc(13px + 0.3vw);
    margin-left: 16vw;
}
#foot-row{
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    width:100vw;
    height: auto;
    padding: 4vw 5vw 4vw 5vw;
    background-color: #00C2CB;
    margin-top: 15vh;
    letter-spacing: 0.01rem;
}

#mapa{
    box-sizing: border-box;
    display:flex;
    flex-flow: column nowrap;
    justify-content:center;
    color: white;
    width:40vw;
    height:100%;
    padding: 0vw 4vw 3vw 10vw;
}

.foot-link{
    font-size: calc(12px + 0.3vw);
    font-weight: lighter;
    font-family: "Lato";
    color:white;
    text-decoration: none;
    text-transform: uppercase;
    padding-bottom: 3px;
    margin: 1vw;
    border-bottom: #C0F0F2 solid 1px;
    cursor: pointer;
}

#redes-footer{
    box-sizing: border-box;
    display:flex;
    flex-flow:row nowrap;
    align-items:start;
    justify-content:center;
    width:20vw;
    height:auto;
}

#redes-footer img{
    width: 5vw;
    height:5vw;
    margin:1vw;
    object-fit:contain;
    cursor: pointer;
}

#logo-footer{
    width: 40vw;
    display:flex;
    flex-flow: column nowrap;
    justify-content: start;
    justify-items: start;
    align-items: center;
    box-sizing: border-box;
    padding-right: 12vw;
}

#logo-footer img{
    width:15vw;
    height:auto;
    object-fit:contain;
    margin-bottom: 2vw;
}

#logo-footer span{
    font-size: calc(12px + 0.3vw);
    color: white;
    display: inline-block;
}



/*
h2{
    letter-spacing: .01em;
    font-size: 33px;
}
h3{
    letter-spacing: .02em;
    font-size: 38px;
}
h4{
    font-size: 25px;
    letter-spacing: .01em;
    text-align: center;
}
p{
    font-weight: 200;
    font-size: 18px;
}
ul{
    font-weight: 200;
    font-size: 18px;
    margin-left: 20px;
}
h5{
    font-size: 13px;
}
h6{
    font-weight: 200;
    font-size: 10px;
}

 */
.comp-header-1{
    color: #6C757D;
    display:inline-block; !important
    margin:0;
    padding:0;
    line-height:50%;
}

.comp-header-2{
    color: #00C2CB;
    display:inline-block; !important
    line-height:50%;
    margin:0;
    padding:0;
}

.comp-header-container{
    display:inline-block;
    padding: 0vh 8vw 0vh 8vw;
    margin: 1vh 10vw 1vh 10vw;
    border-bottom: solid #0077B6 5px;
}

@media only screen and (max-width:1090px){
    .content{
        margin-top: 25vh;
    }

    #foot-row{
        flex-flow: column nowrap;
    }

    #mapa, #redes-footer, #logo-footer{
        width:100%;
    }

    #redes-footer img{
        width:10vw;
        height:10vw;
        margin-bottom: 8vw;
    }

    #logo-footer{
        padding-right: 0vw;
    }

    #logo-footer img{
        width:40%;
    }




}