body{
    font-family: 'Mulish', sans-serif;
}
h2{
    letter-spacing: .01em;
    font-size: 50px;
}
h3{
    letter-spacing: .02em;
    font-size: 32px;
}
p{
    font-weight: 200;
    font-size: 20px;
}
ul{
    font-weight: 200;
    font-size: 20px;
    margin-left: 20px;
}
h5{
    font-size: 18px;
}
h6{
    font-weight: 200;
    font-size: 15px;
}
.bar{
    display: inline-flex;
    justify-content: right;
}
.navbar-comp{
    background: #EBEBEB;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}
.navbar{
    display: inline-block;
    background: #fff;
    color: #00c2cb;
    padding: 10px;
    text-decoration: none;
    margin: 10px 0;
}
.navbar:hover{
    color: #03959c;
}
/* .tab{
    display: table;
    width: 100%;
    margin-bottom: 50px;
    margin-top: 25px;
}
.tab-izq{
    float: left;
    width: 50%;
    vertical-align: middle;
}
.tab-der{
    float: right;
    width: 50%;
    vertical-align: middle;
} */
.cel-flex{
    padding: 0 0 50px 0;
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}
.columna{
    width: 50%;
    box-sizing: border-box;
}
.titulo{
    text-align: center;
    margin-top: 50px;
}
.subtitulo{
    text-align: center;
}
.subtitulo2{
    padding: 5px 50px 0 50px;
    text-align: justify;
}
.subtitulo3{
    padding: 20px 0 0 20px;
}
.subtitulo4{
    padding: 0 0 20px 20px;
}
.p-centro{
    padding: 0 50px;
    text-align: justify;
}
.blanco{
    color: #fff;
}
.gris{
    color: #6c757d;
}
.amarillo{
    color: #FFD77D;
}
.azul{
    color: #00c2cb;
}
.im{
    height: 200px;
    display: block;
    margin: auto;
}
.im-lado{
    height: 300px;
    display: block;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 20px;
}
.im-cuadro{
    height: 250px;
    width: 350px;
    display: block;
    object-fit: cover;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 0;
    margin-top: 10px;
    margin-bottom: 0;
}
.fondo{
    background: #00c2cb;
}
.bg1{
    background-image: url("/Users/rodolfoochoaalejos/Documents/GitHub/website-violinesPorLaPaz/images/Violines Assets/artesBackground.png");
    background-color: transparent;
    background-size: cover;
}
.pad{
    padding: 50px 0 0 50px;
}
.pad-der{
    padding-right: 70px;
}
.pad-top{
    padding-top: 30px;
}
.marg-cero{
    margin: 0;
}
.marg{
    margin: 8px 0 8px 25px;
}
.marg-btm{
    margin-bottom: 50px;
}
.col-elementos{
    display: inline-block;
    padding-bottom: 0;
}

#donar-btn{
    background: #00c2cb;
    color: #fff;
    padding: 10px 20px;
    border: 2px solid #EBEBEB;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px;
}
#donar-btn:hover{
    background: #03959c;
}
#navbar-btn{
    width: 40px;
    height: 30px;
    display: none;
}
#logo{
    height: 50px;
    padding: 0 10px;
}
#circ-azul{
    width: 300px;
    object-fit: cover;
    margin: auto;
    border-radius: 50%;
    border:8px solid #00c2cb;
    margin-top: 30px;
}
#lin-am{
    width: 700px;
    display: block;
    margin: auto;
    padding-bottom: 10px;
}
#lin-am2{
    width: 450px;
    display: block;
}
/* #lin-az{
    border-right-color: #00c2cb;
    border-right-width: 8px;
} */

@media (max-width: 975px) {
    .navbar-comp{
        flex-direction: column;
    }
    .navbar{
        margin: 10px 0;
    }
    .desaparece{
        display: none;
    }
    .columna{
        width: 100%;
        margin-bottom: 10px;
    }
    .im-cuadro{
        padding-top: 10px;
    }

    #navbar-btn{
        border: 1px solid #fff;
        display:table-cell;
        vertical-align:middle;
    }
    #logo{
        display: table-cell;
        vertical-align: middle;
    }
    #lin-am{
        width: 250px;
        height: 10px;
    }
}