
nav{
    font-family:"Lato";
    color:#6c757d;!important
    font-weight:700;
    text-transform: uppercase;
    letter-spacing: 0.01rem;
    position: fixed;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    max-width:100%;
    width:100%;
    top:0;
    right:0;
    background-color: white;
    padding:7vh 5vw 4vh 1vw;
    margin: 1vh 1vw 0vh 0vw;
}

nav *{
    margin: 0.5vh 4vw 0.5vh 4vw;
}

#logo{
    margin:0 auto 0 5vw;
    width:20vw;
    height:auto;
    position:fixed;
    top:0px;
    left:5vw;
}

#donate-btn{
    font-size:16px;
    color:white;
    background-color: #0077B6;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 1vw 3vw 1vw 3vw;
    margin: 0.3vw 1vw 0.3vw 1vw;
}

#small-navbar-button{
    height:6vw;
    width:auto;
    margin-right:1vw;
}

#large-navbar{
    display:none;
}

.selected{
    border-bottom-color: #0077B6;
    border-bottom-width:2px;
    border-bottom-style: solid;
}

#large-navbar .selected:hover{
    color: black;
    border-bottom-color: #00C2CB; !important
}

#large-navbar a{
    text-decoration:none;
    color:#6c757d;!important
    transition: border-bottom-width 0.5s, color 0s, border-bottom-color 0s;
    transition-timing-function:ease-out;
    margin: 0.3vw 0.6vw 0vw 0.6vw;
    cursor:pointer;
}

#large-navbar a:hover{
    color: #00C2CB;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color:#00C2CB;
}

#donate-btn:hover a{
    color: white;
}

#donate-btn:hover{
    background-color: #00C2CB;
}

@media only screen and (min-width:700px) {

    html {
        font-size: 15px;
    }

    #large-navbar {
        display: inline-flex;
        border-botom: 3px solid black;
    }

    #small-navbar-button {
        display: none;
    }

    #donate-btn {
        padding: 0.8vw 2vw 0.8vw 2vw;
        margin: 0.3vw 0.3vw 0.3vw 0.5vw;
    }

    nav * {
        margin: 0.5vh 1vw 0.5vh 1.2vw;
        letter-spacing: 0.01rem;
        font-size: 11px;
    }

    #logo {
        margin: 0 auto 0 5vw;
        width: 10vw;
        height: auto;
        left: 1vw;
    }
}
