
nav{
    font-family:"Lato";
    text-transform: uppercase; !important
    color:#6c757d;
    font-weight:400; !important
    letter-spacing: 0.01rem;
    position: fixed;
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: flex-start;
    align-items: center;
    max-width:100%;
    width:100%;
    top:0;
    right:0;
    background-color: white;
    padding: 7vh 7vw;
    transition:0.7s;
}

nav *{
    margin: 0vh 4vw 0vh 4vw;
}

#logo{
    margin:0 auto 0 5vw;
    width:20vw;
    height:auto;
    position:fixed;
    top:0px;
    left:5vw;
}

#nav-control{
    display:flex;
    flex-flow: row nowrap;
    justify-self: flex-start;
    margin-right: 0;
}

#donate-btn{
    font-size:16px;
    color:white;
    background-color: #0077B6;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 2vw 4vw 2vw 4vw;
    margin: 0.3vw 1vw 0.3vw 1vw;
    cursor:pointer;
}

#donate-btn a{
    font-size:14px;
    color:white;
    text-decoration:none;
    cursor:pointer;
}

#small-navbar-button{
    height:6vw;
    width:auto;
    margin-right:1vw;
    align-self:center;
}

#large-navbar{
    font-family:"Lato";
    text-transform: uppercase; !important
    font-weight:700; !important
    color:white;
    box-sizing:border-box;
    letter-spacing: 0.01rem;
    font-size: 16px;
    position:fixed;
    display:none;
    flex-flow: column nowrap;
    text-align: center;
    top:0;
    right:0;
    width:0;
    height:0;
    overflow-x:hidden;
    overflow-y:hidden;
    margin: 0;
    background-color: #00C2CB;
    justify-content:space-between;
    padding: 5vh 1vw 5vh 1vw;
    padding: 20vh 5vw;
    transition:0.7s;
}

.selected{
    color:#6c757d;
    border-bottom-color: #0077B6;
    border-bottom-width:2px;
    border-bottom-style: solid;
}

#large-navbar .selected:hover{
    color: #6c757d;
    border-bottom-color: #0077B6; !important
}

#large-navbar a{
    text-decoration:none;
    color:white;
    transition: border-bottom-width 0.5s, color 0s, border-bottom-color 0s;
    transition-timing-function:ease-out;
    margin: 0.3vw 0.6vw 0vw 0.6vw;
    padding-bottom:2px;
    cursor:pointer;
}

#large-navbar a:hover{
    color: #6c757d;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color:#6c757d;
}

#donate-btn:hover a{
    color: white;
}

#donate-btn:hover{
    background-color: #00C2CB;
}

@media only screen and (min-width:680px) {

    html {
        font-size: 15px;
    }

    nav{
        flex-flow:row-reverse nowrap;
        justify-content: flex-start;
        padding:5vh 5vw 4vh 1vw;
        margin: 0;

    }

    nav *{
        margin: 0.5vh 4vw 0.5vh 4vw;
    }

    #large-navbar {
        position:initial;
        background-color: white;
        display:flex;
        flex-flow:row nowrap;
        width:auto;
        height:auto;
        display: inline-flex;
        padding: 5vh 1vw 5vh 1vw;
        border-botom: 3px solid black;
    }

    #large-navbar a{
        color: #6c757d;
    }

    #large-navbar a:hover{
        color: #00C2CB;
        border-bottom-color: #00C2CB;
    }

    #small-navbar-button {
        display: none;
    }

    #donate-btn {
        padding: 0.8vw 2vw 0.8vw 2vw;
        margin: 0.3vw 0.3vw 0.3vw 0.5vw;
    }

    nav * {
        margin: 0.5vh 1vw 0.5vh 1.2vw;
        letter-spacing: 0.01rem;
        font-size: 11px;
    }

    #logo {
        margin: 0 auto 0 5vw;
        width: 10vw;
        height: auto;
        left: 1vw;
    }
}

@media only screen and (min-width:680px) and (max-width:750px) {
    #logo{

        margin-left:0vw; !important
        width: 10vw; !important
        height: auto;
        left: 0.5vw; !important
    }
}